body {
    max-width: 900px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    border: 2px;
}

section {
    overflow: auto;
    margin-bottom: 5%;
}

h1 {
    font-family: 'Artifika';
    font-size: 26;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Artifika';
    font-size: 22;
    display: flex;
    justify-content: center;
    overflow: auto;
}

p {
    font-family: 'Architects+Daughter';
}

#logo {
    width: 900px;
}

#aboutme-pic {
    float: left;
}

.education-pictures {
    width: 300px;
    height: 250px;
  
}

#softserve {
    float: left;
    width: 50%;
    height: 100px;
}

#online-courses {
    float: left;
    
}

.toolbar li {
    display: inline;
    font-family: 'Artifika';
    border: 2px solid;
    padding: 3px;
}

.follow-button {
    height: 50px;
    width: 50px;
}

.projects {
    width: 33%;
    float: left;
}

.projects-logo {
    height: 70px;
    width: 150px;
}


ol {
    font-family: 'Architects+Daughter';
}

.hobbies {
    height: 50px;
    width: 50px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.contact-form {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
