body {
    max-width: 900px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    margin: 0 5px 0 5px;
}

a,
a:visited {
    color: blue;
}

section {
    margin-bottom: 5%;
}

h1 {
    font-family: 'Artifika';
    font-size: 26;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

h2 {
    font-family: 'Artifika';
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

small {
    font-family: 'Spectral';
    margin: 0 10px;
    font-size: 24;
    display: block;
}

p,
li {
    font-family: 'Spectral';
    margin: 0 10px;
}

.carousel {
    width: 100%
}

#logo {
    width: 100%;
}

#about {
    display: inline-block;
    margin-bottom: 0px;
}

#aboutme-pic {
    float: left;
    margin: 10px;
}

.education-pictures {
    width: 170px;
    display: block;
    margin: 5px auto;
}

.it {
    display: flex;
    flex-direction: row;
}

#softserve {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.glyphicon.glyphicon-triangle-right,
.glyphicon.glyphicon-triangle-left {
    color: #1D93D0;
    top: 20px;
}

.item p {
    margin: 0 13%;
}

#online-courses {
    display: flex;
    flex-direction: column;
}

.toolbar li {
    display: inline;
    font-family: 'Artifika';
    border: 2px solid;
    padding: 3px;
}

.follow-button {
    height: 50px;
    width: 50px;
}

.projects {
    width: 25%;
}

#my-projects>div {
    display: flex;
    justify-content: space-around;
}

.projects p {
    text-align: center;
}

.projects-logo {
    width: 97%;
}

ol {
    font-family: 'Architects+Daughter';
}

.hobbies {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.contact-form {
    margin: 10% 10%
}

.form-result {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

#submit {
    text-align: center;
}

@media(max-width: 420px) {
    p,
    small {
        font-family: 'Architects+Daughter';
        margin: 0 5%;
    }
    #logo {
        width: 100%;
    }
    #aboutme-pic {
        width: 100%;
    }
    #my-projects>div {
        display: flex;
        flex-direction: column;
    }
    .projects {
        width: 100%;
        text-align: center;
    }
    .it {
        display: flex;
        flex-direction: column;
    }
    #softserve {
        width: 100%;
    }
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dropbtn {
        background-color: #7c8c99;
        color: white;
        padding: 12px;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }
    .dropdown {
        position: absolute;
        left: 0%;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        flex-wrap: wrap;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: relative;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    .dropdown:hover .dropdown-content {
        display: flex;
    }
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
}

@media screen and (min-width:419px) {
    .dropbtn {
        display: none;
    }
}
